include base
body
  #header-container
    header#header
      nav#nav-bar
        a(href="") 
          img(src="/assets/images/common/logo.svg", alt="logo")#header-img
        .nav-links
          a.nav-link(href="#title") About us
          a.nav-link(href="#blog") Blog
          a.nav-link(href="#marketing") Marketing
  .container
    #hero-container
      h1#title.title Alpine
      p.title#subtitle Social Media Marketing Platform
      .hero-content
        p The core systems of record for marketing that provide a common way of orchestring the experiences across channels and applications, including operational managment and measurement, with the ultimate goal of driving customer engagement.

      form#form(action="https://www.freecodecamp.com/email-submit")
        input#email(
        name="email",
        type="email", 
        placeholder="Enter your work email !",
        required
        )
        input#submit(type="submit", value="Request acces") 

    main
      section#blog
        h2.title Check our 
          span.span|YouTube 
          |blog 
        iframe#video(
          width='520',
          height='340', 
          src='https://www.youtube.com/embed/YHusujC8MOw?autoplay=1&mute=1',
          frameborder="0",
          allowfullscreen
          )


    section.social
      h2.folow-title 
        span.span|Follow 
        |us
      .social-media
        a(href="https://www.facebook.com") 
          img(src="https://cdn1.iconfinder.com/data/icons/logotypes/32/facebook-256.png", alt="facebook icon")
        a(href="https://www.youtube.com/") 
          img(src="https://cdn3.iconfinder.com/data/icons/social-media-2169/24/social_media_social_media_logo_youtube-256.png", alt="youtobe icon")
        a(href="https://twitter.com/Twitter?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor") 
          img(src="https://cdn2.iconfinder.com/data/icons/social-icons-33/128/Twitter-256.png", alt="twitter icon")
        a(href="https://twitter.com/Twitter?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor") 
          img(src="https://cdn4.iconfinder.com/data/icons/social-media-2273/64/social_media_network_online_v-256.png", alt="icon")
        a(href="https://twitter.com/Twitter?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor") 
          img(src="https://cdn4.iconfinder.com/data/icons/social-media-logos-6/512/65-msn-256.png", alt="iocon")

      section#marketing
        div
          h2.title Marketing
        div 
          i.far.fa-comment-dots
          i.far.fa-edit#marketing-btn
            a(href="#") Start a thread

      .marketing-content
        .marketing-content-group
          img.marketing-content-img__left(src="https://images.unsplash.com/photo-1560472354-b33ff0c44a43?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2151&q=80", alt="marketing")
          .marketing-content__text
            h3.marketing-content-title Start a thread
            p Technology trends have the potential to drive significant disruption and deliver significant opportunity. Digital trends such as autonomous things, blockchain, digital twins and smart spaces are rapidly approaching maturity.

        .marketing-content-group
          .marketing-content__text
            h3.marketing-content-title Mark the decision
            p This continuous technology innovation will enable the alignment of the physical and digital worlds and create competitive advantage for some. Are you ready?
          img.marketing-content-img__right(src="https://images.unsplash.com/photo-1542744173-8e7e53415bb0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80", alt="marketing")
            
