include base
body
  #header-container
    header#header
      #header-img 
        a(href="#") 
          img(src="/assets/images/common/logo.svg", alt="logo")
      nav#nav-bar
        a.nav-link(href="#title") About us
        a.nav-link(href="#blog") Blog
        a.nav-link(href="#marketing") Marketing
  .container
    #hero-container
      h1#title.title Alpine
      p.title#subtitle Social Media Marketing Platform
      .hero-content
        p The core systems of record for marketing that provide a common way of orchestring the experiences across channels and applications, including operational managment and measurement, with the ultimate goal of driving customer engagement.

      form#form(action="https://www.freecodecamp.com/email-submit")
        input#email(
        name="email",
        type="email", 
        placeholder="Enter your work email !",
        required
        )
        input#submit(type="submit", value="Request acces") 

    main
      section#blog
        h2.title Check our YouTube chennel
        iframe#video(
          width='520',
          height='340', 
          src='https://www.youtube.com/embed/YHusujC8MOw?autoplay=1&mute=1',
          frameborder="0",
          allowfullscreen
          )

      section#marketing
        div
          h2.title Marketing
        div 
          i.far.fa-comment-dots
          i.far.fa-edit#marketing-btn
            a(href="#") Start a thread
            
