doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="main.css")
    title Survey Form
  body
    .container
      h1#title Survey Form
      p#description Survey Form description
      #form-container
        form#survey-form(action="")
          .form-group
            label#name-label.form-label(for="name") Name
            input#name(
              type="text",
              name="name",
              placeholder="Enter your name",
              required
            )
          .form-group
            label#email-label.form-label(for="email") Email
            input#email(
              type="email",
              name="email",
              placeholder="Enter your Email",
              required
            )
          .form-group
            label#number-label.form-label(for="number") Age
            input#number(
              type="number",
              name="email",
              placeholder="Age",
              min="5",
              max="100",
              required
            )
            .form-group
              p Something
              select#dropdown.form-control(name="role", required)
                option(disabled, selected, value) Select current role
                option(value="value-1") Value-1
                option(value="value-2") Value-2
                option(value="value-3") Value-3  
        ul.animated-particles
          li 
          li 
          li 
          li 
          li 
          li 
          li 
          li 
          li 
          li 